* {
  margin: 0px; 
  padding: 0px; 
  font-family: 'Poppins';
}
body {
  background-color: white;
}
.mainSection {
  display: flex; 
  justify-items: center;
}
.leftBarDiv {
  display: grid;
  justify-content: center;
  /* border: 1px solid blue; */
  height: 356px;
  width: 6%;
}
.rightBarDiv {
  border-left: 1px solid #cfcfcf;
  height: 100vh;
  width: 94%;
}
.menuLogoDiv {
  margin-top: 50px;
}
.menuLogo, .homeLogo, .todoLogo {
  height: 26px;
  width: 26px;
}
.todoLogoDiv {
  margin-top: -37px;
}
.mainNav {
  display: flex;
  margin-top: 131px;
  height: 84px;
  font-size: 12px;
  border-top: 1px solid #d5cdcd;
  border-bottom: 1px solid #d5cdcd;
  align-items: center;
  justify-content: space-around;
  font-weight: bold;
  box-shadow: -2px 1px 18px -10px;
}
.menuDiv {
  height: 83px;
  display: flex;
  width: 280px;
  align-items: center;
  justify-content: center;
}
.application {
  color: white;
  font-weight: bold;
  background-image: url("./Images/applicationFormBg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.divider {
  height: 46px;
  border: 1px solid #a7a4a4;
}
.innerFormSection {
  /* height: 400px; */
  padding: 76px;
  border: 2px solid #d5d5e2;
}
.uploadCoverImageSection {
  width: 470px;
}
.uploadCoverImageHeader {
  background-color: #D0F7FA;
  width: 331px;
  height: 40px;
  display: flex;
  align-items: center;
  border-top-left-radius: 14px;
  padding-left: 23px;
  justify-content: flex-start;
  border-top-right-radius: 14px;
}
.uploadFileDiv {
  height: 163px;
  background-color: #f5f5f5a6;
  width: 306px;
  display: flex;
  align-content: center;
  align-items: center;
  padding: 24px;
  box-shadow: 3px 11px 34px -28px;
}
.uploadLogo {
  height: 147px;
  width: 305px;
}
.personalInformationSection {
  margin-top: 70px; 
}
.personalInformationFormDiv {
  height: fit-content;
  background-color: #f5f5f5a6;
  width: 318px;
  display: grid;
  align-content: center;
  align-items: center;
  padding-top: 24px;
  box-shadow: 3px 11px 34px -28px;
  padding-bottom: 30px;
  padding-right: 24px;
  padding-left: 12px;
}
.firstname, .lastname, .email {
  border: #fcfcfcbd;
  border-bottom: 1px solid #ccc5c5;
  height: 51px;
  background: transparent;
  font-weight: bold;
  outline: none; 
  width: 100%; 
}

.phone {
  border: #fcfcfcbd;
  height: 51px;
  background: transparent;
  font-weight: bold;
  outline: none;
  width: 154px;
  font-size: 11px;
}

.phoneDiv {
  border-bottom: 1px solid #ccc5c5; 
  display: flex;
  width: 100%; 
}
.internalPara {
  font-size: 11px;
  font-weight: bold;
  margin-left: 4px;
  margin-top: 2px;
  color: #726c6c;
}
.internalCheckboxDiv, 
.hideCheckboxDiv {
  display: flex;
  font-size: 12px;
  align-items: center;
}
.hideLogo {
  height: 20px;
  margin-left: 10px;
  margin-top: 6px;
}
.genderDiv {
  border: none; 
}
.addAQuestionDiv {
  margin-top: 20px;
  display: flex;
  height: 50px;
  background: transparent;
  align-items: center;
  justify-content: flex-start;
  border: none;
  width: 60%;
}
.addLogo {
  height: 19px;
  width: 19px;
  margin-right: 16px;
}
.addAQuestionPara {
  font-size: 12px;
  font-weight: bold;
}
.addAQuestionDiv .profileComponent {
  margin-top: 18px;
}
.additionalQuestionSection {
  margin-top: 45px; 
  width: 470px;
  margin-bottom: 400px;
}
.additionalQuestionsDiv, 
.dropdownQuestionsDiv {
  height: fit-content;
  background-color: #f5f5f5a6;
  width: 306px;
  display: grid;
  align-content: center;
  align-items: center;
  padding: 24px;
  /* box-shadow: 3px 11px 34px -28px; */
  padding-bottom: 20px;
}
.paragraphLabel {
  font-size: 12px;
}
.secondparagraphDiv {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.paragraphPara {
  font-size: 11px;
  font-weight: bold;
  width: 70%;
}
.paragraphInputForm {
  border: none;
  width: 100%;
  outline: none;
  border-bottom: 1px solid #cecece;
  background: transparent;
}
.dropdownparagraphDiv {
  margin-top: -20px; 
}
.questionDiv {
  margin-top: 20px; 
}
.questionHeader {
  font-size: 12px; 
}
.questionInputForm {
  border: 1px solid #bbbbbb;
  outline: none; 
  height: 39px;
  width: 96%; 
  background: transparent; 
  border-radius: 5px;
  color: black;
  padding-left: 10px;
  font-size: 13px;
}
.choiceDiv {
  /* margin: auto; */
  width: 100%;
  margin-top: 20px;
}
.choiceInputFormDiv {
  margin-top: 20px; 
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}
.choiceInputForm {
  width: 88%;
  margin-left: 10px;
  height: 40px;
  padding-left: 10px;
  color: black;
  background: transparent;
  outline: none;
  border-radius: 5px;
  border: 1px solid #bebebe; 
}
.addLogo {
  height: 17px;
  margin-top: 5px;
  width: 17px;
}
.listLogo {
  margin-top: 5px;
  color: #a80000
}
.deleteQuestionDiv {
  display: flex;
  padding-top: 20px;
  align-items: center;
  justify-content: space-between;
}
.innerDeleteDiv {
  display: flex;
  align-items: center;
  width: 139px;
  justify-content: space-between;
}
.saveBtn {
  height: 35px;
  width: 90px;
  font-size: 12px;
  font-weight: bold;
  background: #087B2F;
  border-radius: 5px;
  border: none;
  color: white;
}
.deleteQuestionPara {
  font-size: 12px; 
}
.lastChoiceInputFormDiv {
  margin-top: 10px;
  width: 100%;
}
.questionInputFormDiv {
  border: none;
  width: 100%;
  outline: none;
  background: transparent;
}
.paragraphLabelDiv {
  margin-top: 6px;
}
.questionHeader.choice {
  margin-left: 34px;
  margin-bottom: -17px;
  font-size: 12px;

}
.addAQuestionDivForAdditionalQuestion {
  display: flex;
  height: 50px;
  background: transparent;
  align-items: center;
  justify-content: flex-start;
  border: none;
  width: 60%;
  margin-top: 20px; 
}
.hiddenQuestionClass {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in;
}
.visibleQuestionClass {
  max-height: 295px;
  transition: max-height 0.2s ease-in
}
.labelType, 
.labelQuestion {
  font-size: 12px;
  font-weight: bold;
}
.questionParagraph, 
.questionInputForm {
  height: 40px;
  width: 100%;
  padding-left: 10px;
  background: transparent;
  font-size: 12px;
  border: 2px solid #cfcece;
  border-radius: 4px;
  margin-top: 5px;
  outline: none;
}
.questionInputForm {
  width: 96%;
}
.questionParagraph option {
  height: 37px;
}
.questionInputFormDiv {
  margin-top: 10px;
}
.deleteLogo {
  height: 26px;
}
.innerDeleteDivQuestion {
  display: flex;
  align-items: center;
  width: 135px;
  justify-content: space-between;
}
.innerDeleteDiv {
  display: flex;
  align-items: center;
  width: 124px;
  justify-content: space-between;
}
.questionSaveBtn {
  height: 32px;
  width: 80px;
  font-size: 12px;
  font-weight: bold;
  background: #087B2F;
  border-radius: 5px;
  border: none;
  color: white;
}
.profileSaveBtn {
  height: 32px;
  width: 80px;
  font-size: 12px;
  font-weight: bold;
  background: #087B2F;
  border-radius: 5px;
  border: none;
  color: white;
}
.displayImageDiv {
  position: relative;
  height: 180px;
  border: 1px solid #ececec;
  width: 75%;
  margin-top: 31px;
  border-radius: 5px;
}
.imagePreview {
  height: 112px;
  width: 94%;
  padding-top: 8px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 49px;
}
.deleteAndUploadPara {
  color: red;
  font-size: 12px;
}
.deleteLogoIcon {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}
.deleteAndUploadDiv {
  height: 25px;
  display: flex;
  bottom: 0;
  width: 333px;
  background-color: #f0f0f0;
  padding: 10px;
  align-items: center;
  font-size: 13px;
  font-weight: bold;
  justify-content: left;
}



/* Task Two Styling */
.taskTwoMainSection {
  display: flex;
  justify-items: center;
  justify-content: space-between;
  background: #F9FAFF;
}
.taskTwoLeftBarDiv {
  display: grid;
  justify-content: center;
  /* border-right: 1px solid #cacad3; */
  height: -moz-fit-content;
  height: fit-content;
  width: 6%;
  background-color: white;
}
.taskTwoRightBarDiv {
    padding-top: 30px; 
    border: 1px solid #cfcfcf;
    height: 100vh;
    width: 60%;
}
.taskTwoMiddleBarDiv {
  padding-top: 30px;
  /* border: 1px solid #cfcfcf; */
  height: 100vh;
  width: 28%;
}
.circleLogoDiv, 
.homeLogoDiv, 
.usersLogoDiv, 
.checkLogoDiv, 
.shareLogoDiv, 
.fileLogoDiv, 
.contactLogoDiv, 
.likesLogoDiv, 
.backLogoDiv, 
.settingsLogo {
  margin-top: 3px;
  height: 55px;
  display: grid;
  justify-content: center;

}
.circleLogoDiv {
  margin-top: 30px;
  margin-bottom: 30px;
}

.lowerSection {
  margin-top: 12px;
  height: 113px;
  padding-top: 260px;
  margin-bottom: 40px;
}
.londonIntershipHeader {
  color: #1D4ED8; 
}
.londonInnerDiv {
  height: 80px;
  line-height: 29px;
}
.searchDiv {
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  margin-top: 26px;
  border-radius: 5px; 
  padding: 13px;
  
}
.search {
  display: flex;
    align-items: center;
  height: 48px;

}
.searchInputForm {
  border: none; 
  outline: none;
  padding-left: 10px; 
  font-size: 12px;
}
.alertLogo {
  margin-top: 2px;
}
.filtersDiv {
  margin-top: 50px;
  height: 58px;
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 12px; 
}
.searchLogo {
  margin-top: 4px;
}
.filterPara {
  font-size: 14px; 
  font-weight: bold;
}
.selectedPara {
  color: #3d3d3d; 
}
.filterOptionsDiv {
  margin-top: 5px;
  height: 55px;
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 12px;
}
.fileLogoFilter {
  height: 28px;
  width: 28px; 
}
.filterOptionsDiv .firstSection {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.filterOptionsDiv .secondSection {
  padding-top: 7px; 
}
.filterText {
  padding-bottom: 5px;
}