* {
  margin: 0px; 
  padding: 0px; 
  font-family: 'Poppins';
}
body {
  background-color: white;
}
.mainSection {
  display: flex; 
  justify-items: center;
}
.leftBarDiv {
  display: grid;
  justify-content: center;
  /* border: 1px solid blue; */
  height: 356px;
  width: 6%;
}
.rightBarDiv {
  border-left: 1px solid #cfcfcf;
  height: 100vh;
  width: 94%;
}
.menuLogoDiv {
  margin-top: 50px;
}
.menuLogo, .homeLogo, .todoLogo {
  height: 26px;
  width: 26px;
}
.todoLogoDiv {
  margin-top: -37px;
}
.mainNav {
  display: flex;
  margin-top: 136px;
  height: 84px;
  border-top: 1px solid #d5cdcd;
  border-bottom: 1px solid #d5cdcd;
  align-items: center;
  justify-content: space-around;
  box-shadow: -2px 3px 20px -12px
}
.menuDiv {
  height: 83px;
  display: flex;
  width: 280px;
  align-items: center;
  justify-content: center;
}
.application {
  color: white;
  font-weight: bold;
  background-image: url("./Images/applicationFormBg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.divider {
  height: 46px;
  border: 1px solid #a7a4a4;
}
.innerFormSection {
  /* height: 400px; */
  padding: 76px;
  border: 2px solid #d5d5e2;
}
.uploadCoverImageSection {
  width: 470px;
}
.uploadCoverImageHeader {
  background-color: #D0F7FA;
  width: 331px;
  height: 40px;
  display: flex;
  align-items: center;
  border-top-left-radius: 14px;
  padding-left: 23px;
  justify-content: flex-start;
  border-top-right-radius: 14px;
}
.uploadFileDiv {
  height: 163px;
  background-color: #f5f5f5a6;
  width: 306px;
  display: flex;
  align-content: center;
  align-items: center;
  padding: 24px;
  box-shadow: 3px 11px 34px -28px;
}
.uploadLogo {
  height: 147px;
  width: 305px;
}
.personalInformationSection {
  margin-top: 30px; 
}
.personalInformationFormDiv {
  height: fit-content;
  background-color: #f5f5f5a6;
  width: 306px;
  display: grid;
  align-content: center;
  align-items: center;
  padding: 24px;
  box-shadow: 3px 11px 34px -28px;
  padding-bottom: 70px;
}
.firstname, .lastname, .email {
  border: #fcfcfcbd;
  border-bottom: 1px solid #ccc5c5;
  height: 51px;
  background: transparent;
  font-weight: bold;
  outline: none; 
  width: 100%; 
}

.phone {
  border: #fcfcfcbd;
  height: 51px;
  background: transparent;
  font-weight: bold;
  outline: none;
  width: 154px;
  font-size: 11px;
}

.phoneDiv {
  border-bottom: 1px solid #ccc5c5; 
  display: flex;
  width: 100%; 
}
.internalPara {
  font-size: 11px;
  font-weight: bold;
  margin-left: 4px;
  margin-top: 2px;
  color: #726c6c;
}
.internalCheckboxDiv, 
.hideCheckboxDiv {
  display: flex;
  font-size: 12px;
  align-items: center;
}
.hideLogo {
  height: 20px;
  margin-left: 10px;
  margin-top: 6px;
}
.genderDiv {
  border: none; 
}
.addAQuestionDiv {
  display: flex;
  height: 50px;
  background: transparent;
  align-items: center;
  justify-content: flex-start;
  border: none;
  width: 60%;
}
.addLogo {
  height: 19px;
  width: 19px;
  margin-right: 16px;
}
.addAQuestionPara {
  font-size: 12px;
  font-weight: bold;
}